{% include header.html %}
<span class="statusbar"></span>
{% include page-nav.html %}

<div id="wrap">
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">


            <nav id="nav" role="navigation" class="col-sm-2 sidebar-offcanvas">
                <header id="menu" role="banner">
                    <p class="menu-title">Close</p>
                    <a href="#nav" class="close-btn">Close</a>
                </header>
                <ul class="sidebar">
                    <li><a href="{{site.url}}/tags.html">Writings</a></li>
                    <li><a href="{{site.url}}/tags.html">Projects</a></li>
                    <li><a href="{{site.url}}/tags.html">About</a></li>
                    <li><a href="{{site.url}}/search.html">Search</a></li>
                </ul>
            </nav>


            <header id="menu" role="banner">
                <p class="menu-title">Menu</p>
                <a href="#nav" class="menu-btn">navigation</a>
            </header>



            <div class="content col-sm-10">
                <div class="row strip">
                    {{ content }}
                </div>
            </div>


        </div>
    </div>


    <footer class="footer text-center blog-meta">
    </footer>
</div>

{% include footer.html %}
